.loader-container{
  background-color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  width: 40px;
  animation: 
    l2-1 4s infinite linear,
    l2-2 1s infinite steps(1) alternate;
}
@keyframes l2-1 {
  0%   {transform: perspective(200px) rotateX(  5deg)}
  100% {transform: perspective(250px) rotateX(360deg)}
}