.newsletter {
    width: 60%;
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 30px;
    margin-bottom: 100px;
}

.newsletter h1 {
    color: var(--textColor);
    font-size: 55px;
    font-weight: 600;
    text-align: center;
}

.newsletter p {
    color: var(--textColor);
    font-size: 20px;
    text-align: center;
}

.orab {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: auto;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}

.newsletter .input1 {
    width: 100%;
    padding-left: 30px;
    border: none;
    outline: none;
    font-family: Poppins;
    font-size: 16px;
    background: transparent;
}

.newsletter div button {
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

@media(max-width:900px){
    .newsletter h1{
        font-size: 45px;
    }
}
@media(max-width:800px){
    .newsletter h1{
        font-size: 40px;
    }
}
@media(max-width:700px){
    .newsletter h1{
        font-size: 35px;
    }
}
@media(max-width:600px){
    .newsletter h1{
        font-size: 30px;
    }
}
@media(max-width:500px){
    .newsletter h1{
        font-size: 25px;
    }
}