.navbar {
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-bottom: 20px;
}
.dark {
    width: 70px;
}
.serch_img{
    width: 70px;
}
a{
    color: var(--textColor);
    &:hover{
        color: orange;
        transition: 0.5s;
    }
}
.nav-logo {
    display: flex;
    align-items: center;
}
.logo_burger{
    width: 40px;
    display: none;
}
.nav-logo p {
    color: var(--textColor);
    font-size: 45px;
    font-weight: 600;
    list-style: none;
}

.nav-menu {
    list-style: none;
    gap: 30px;
    color: var(--textColor);
    font-size: 35px;
    font-weight: 700;
    display: none;
    flex-direction: column;
    background-color: var(--backColor);
    position: absolute;
    top: 150px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
}

.nav-menu .li1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--textColor);
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: orange;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button {
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: var(--textColor);
    font-size: 20px;
    font-weight: 500;
    background: var(--backColor);
    cursor: pointer;
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: var(--textColor);
    color:var(--backColor);
}

.nav-dropdown {
    display: none;
    transform: rotate(180deg);
}

.open {
    display: block;
}

.btnnnn {
    width: 40px;
    cursor: pointer;
}

.kom {
    width: 80px;
    height: 100px;
}
@media (max-width: 1280px) {
    .nav-logo p{
        font-size: 40px;
    }
}
@media (max-width: 1100px) {
    .nav-menu {
        gap: 15px;
    }
    .logo_burger{
        display: block;
    }
}
@media(max-width :570px){
    .nav-logo p{
        font-size: 20px;
    }
    .kom{
        width: 60px;
    }
}


@media (min-width: 1100px) {
  .burger-icon {
    display: none;
  }

  .nav-menu {
    display: flex !important;
    flex-direction: row;
    position: static; 
    background-color: transparent;
  }

  .nav-menu li {
    margin: 0 15px;
    font-size: 23px;
  }

  .li1 hr {
    display: block;
  }
}


.navbar-brand {
    font-size: 1.5em;
  }
  
  .navbar-toggle {
    cursor: pointer;
  }
  
  .navbar-user {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .navbar-user span {
    margin-right: 10px;
  }
  
  .user-button,
  .logout-button {
    padding: 5px 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
  }
  .user-button{
    border-radius: 50%;
    width: 40px;
    text-align: center;
  }
  .user-button:hover,
  .logout-button:hover {
    background-color: #2980b9;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 40px;
    right: 2px;
    width: 300px;
    background-color: var(--backColor);
    color: var(--textColor);
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-menu span {
    display: block;
    margin-bottom: 10px;
  }