.mentor-slider-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.mentor-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mentor-image {
  max-width: 225px;
  height: 225px;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .mentor-slider-container {
    width: 90%;
    padding: 10px;
  }

  .mentor-image {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 600px) {
  .mentor-slider-container {
    width: 90%;
    padding: 10px;
  }

  .mentor-image {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 480px) {
  .mentor-slider-container {
    width: 80%;
    padding: 10px;
  }

  .mentor-image {
    width: 100px;
    height: 100px;
  }
}
