.offers {
    display: flex;
    padding: 20px;
    margin-bottom: 150px;
    background: rgb(228, 174, 238);
    background: radial-gradient(
        circle,
        rgba(228, 174, 238, 1) 0%,
        rgba(82, 80, 159, 1) 0%,
        rgba(222, 148, 199, 1) 100%,
        rgba(0, 117, 255, 1) 100%
    );
}

.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1 {
    color: blanchedalmond;
    font-size: 80px;
    font-weight: 600;
}

.offers-left p {
    color: beige;
    font-size: 22px;
    font-weight: 600;
}

.offers-left button {
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.offers-right {
    flex: 1;
    padding-top: 50px;
}
.rrr{
    width: 700px;
}

/* Media qurilmalari */

/* 1400px o'lchamidan kichik ekranga */
@media (max-width: 1400px) {
    .offers {
        padding: 0px 80px;
        margin-bottom: 120px;
    }
    .offers-left h1 {
        font-size: 40px;
    }
    .offers-left p {
        font-size: 18px;
    }
}

/* 1300px o'lchamidan kichik ekranga */
@media (max-width: 1300px) {
    .offers {
        padding: 0px 70px;
        margin-bottom: 120px;
    }
    .offers-left h1 {
        font-size: 40px;
    }
    .offers-left p {
        font-size: 18px;
    }
}

/* 1200px o'lchamidan kichik ekranga */
@media (max-width: 1200px) {
    .offers {
        padding: 0px 60px;
        margin-bottom: 120px;
    }
    .offers-left h1 {
        font-size: 40px;
    }
    .offers-left p {
        font-size: 18px;
    }
    .rrr{
        width: 400px;
    }
}

/* 1100px o'lchamidan kichik ekranga */
@media (max-width: 1100px) {
    .offers {
        padding: 0px 50px;
        margin-bottom: 120px;
    }
    .offers-left h1 {
        font-size: 40px;
    }
    .offers-left p {
        font-size: 18px;
    }
}

/* 1000px o'lchamidan kichik ekranga */
@media (max-width: 1000px) {
    .offers {
        padding: 0px 40px;
        margin-bottom: 120px;
    }
    .offers-left h1 {
        font-size: 40px;
    }
    .offers-left p {
        font-size: 18px;
    }
}

/* 900px o'lchamidan kichik ekranga */
@media (max-width: 900px) {
    .offers {
        padding: 0px 30px;
        margin-bottom: 120px;
    }
    .offers-left h1 {
        font-size: 40px;
    }
    .offers-left p {
        font-size: 18px;
    }
}

/* 800px o'lchamidan kichik ekranga */
@media (max-width: 800px) {
    .offers {
        padding: 0px 20px;
        margin-bottom: 120px;
        display: block;
    }
    .offers-left h1 {
        font-size: 40px;
    }
    .offers-left p {
        font-size: 18px;
    }
}

/* 700px o'lchamidan kichik ekranga */
@media (max-width: 700px) {
    .offers {
        padding: 0px 10px;
        margin-bottom: 100px;
    }
    .offers-left h1 {
        font-size: 30px;
    }
    .offers-left p {
        font-size: 16px;
    }
}

/* 600px o'lchamidan kichik ekranga */
@media (max-width: 600px) {
    .offers {
        padding: 0px 5px;
        margin-bottom: 80px;
    }
    .offers-left h1 {
        font-size: 20px;
    }
    .offers-left p {
        font-size: 14px;
    }
}

/* 500px o'lchamidan kichik ekranga */
@media (max-width: 500px) {
    .offers {
        padding: 0px 5px;
        margin-bottom: 60px;
    }
    .offers-left h1 {
        font-size: 18px;
    }
    .offers-left p {
        font-size: 12px;
    }
}

/* 400px o'lchamidan kichik ekranga */
@media (max-width: 400px) {
    .offers {
        padding: 0px 5px;
        margin-bottom: 40px;
    }
    .offers-left h1 {
        font-size: 16px;
    }
    .offers-left p {
        font-size: 10px;
    }
}